@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

@media screen and (min-width: 992px) {
	body {
		background-image: url(../img/background.jpg);
		font-size: 18px;
	}

	#main {
		margin: 20px;
		margin-left: 30%;
	} 

	.container-fluid {
		margin: 20px;
		margin-left: 30%;
	}

	nav {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

@media screen and (max-width: 991px) {
	body {
		font-size: 16px;
	}

	.container-fluid {
		margin-top: 0;
		margin-bottom: 0;
	}

	#slogan {
		display: none;

	}
}

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body a:link, body a:visited {
	color: #0000AA;
	text-decoration: none;
}

body a:hover, body a:focus {
	color: #0000EE;
}

h1, h2, h3{
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2, h3 {
	color: #505050;
}

h2 {
	font-size: 150%;
	margin: 0;
}

h3 {
	font-size: 125%;
}

#main {
	background-image: url(../img/ricepaper_v3.png);
	opacity: 0.9;
	padding: 0;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	list-style-type: none;
	margin-right: 1em;
}

nav a {
	color: #55E;

}

nav a:hover, nav a:active {
	color: #00E;
}

#header {
	padding: 1em;
	background-color: #FA5A0F;
	border-bottom: solid 5px #EA4A00;
	color: #FFFFFF;
	position: relative;
}

#header text {
	font-size: 120%;
	color: #EEEEEE;
	margin: 0;
}

#info {
	padding: 1em;
}

#menu {
	padding: 1em;
	background-color: rgba(207, 205, 140, 0.5);
}

#menu dt {
	font-weight: 400;
}

#menu dd {
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}

#about {
	padding: 1em;
}

#footer {
	padding: 1em;
	background-color: #FC892F;
	border-top: #EC791F solid 5px;
	font-size: 80%;
	text-align: right;
}
